%ul.nav.nav-tabs
  %li.active= link_to t("info.tabs.common"), "#road-#{@road.id}-common", 'data-toggle' => 'tab'
  %li= link_to t("info.tabs.tags"), "#road-#{@road.id}-tags", 'data-toggle' => 'tab'

.tab-content
  .tab-pane.active{ :id => "road-#{@road.id}-common" }
    = render 'info/categories.html', :model => @road

  .tab-pane{ :id => "road-#{@road.id}-tags" }
    = osm_link @road
    = render 'info/tags.html', :tags => @road.tags
