- if @query
  %h3= t "search.results.header", :query => @query

  %ul.search-results
    - @results.each_with_distance do |obj, distance|
      - center = obj.center

      %li.search-result{ 'class' => "type-#{obj.type}", 'data-lat' => center.y, 'data-lng' => center.x, 'data-zoom' => 14 }
        %a.name{ :href => '#' }= obj.name

        - if obj.respond_to?(:address) && obj.address
          %span.address= obj.address

        %span.distance= distance

  = paginate @results, :window => 2

- else
  No query - no results
