- if model.address
  .info-block.address
    %h4= t "info.blocks.address"

    - if model.postcode
      %b= t "info.keys.postcode"
      = model.postcode
      %br

    %b= t "info.keys.address"
    = model.address
