.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid

      %ul.nav.pull-left
        %li.dropdown#mode_select
          %a.dropdown-toggle{ :href => '#mode_select', 'data-toggle' => "dropdown" }
            %span= t("search.label")
            %b.caret
          %ul.dropdown-menu
            %li= link_to t("search.label"), '#mode=search'
            %li= link_to t("validators.label"), '#mode=validators'
            %li= link_to t("editing.label"), '#mode=editing'

      %form#search_form.mode_dependent.mode_search.navbar-search.pull-left{ :action => "/" }
        %input.search-query{ :type => "text", :placeholder => "Search", :name => "q", :value => params[:q], :style => 'width: 400px'}

      %ul.nav.pull-right

        %li= page_link :about
        %li= page_link :credits

        %li.divider-vertical

        %li#layer_checks.btn-group{ 'data-toggle' => 'buttons-checkbox' }
          %button.btn{ 'data-layer' => 'photos' }= t "map.layers.photos"
          %button.btn{ 'data-layer' => 'weather' }= t "map.layers.weather"

        %li.divider-vertical

        %li#style_switch.btn-group{ 'data-toggle' => 'buttons-radio' }
          - Mapapp.config['map']['styles'].each do |style|
            %button.btn{ 'data-style' => style }= t "map.styles.#{style}"
