!!!5
%html
  = render 'layouts/header'

  :javascript
    window.metadata = #{render 'layouts/metadata.json.rabl'}
    I18n.defaultLocale = #{ I18n.default_locale.to_json }
    I18n.locale = #{ I18n.locale.to_json }

  %body
    = render 'layouts/navbar'

    #content.map
      = yield

    #sidebar_handle
      %div
        %a.icon-chevron-right

    #sidebar{ :style => "left: -400px" }
      %a.close ×

      %ul.nav.nav-tabs
        %li.active= link_to t("sidebar.tabs.results"), "#sidebar_results", 'data-toggle' => 'tab', 'id' => 'sidebar_results_tab'
        %li= link_to t("sidebar.tabs.categories"), "#sidebar_categories", 'data-toggle' => 'tab', 'id' => 'sidebar_categories_tab'

      .tab-content
        #sidebar_results.tab-pane.active
          .results

          .pagination
        #sidebar_categories.tab-pane
          = render 'layouts/categories', :categories => Category.arrange
